@model DONDE_INVIERTO.Model.Empresa

@{
    ViewBag.Title = "Nueva Empresa";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="formholder-nueva-empresa">
        <div class="row-title">
            <label>Nueva Empresa</label>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row-form">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row-form">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Fecha_Creacion, "Fecha creación")
                <div class='input-group date' id='fechaDesde'>
                    @Html.TextBoxFor(model => model.Fecha_Creacion, new { @id = "fechaCreacion", @class = "form-control input-date" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row-form-footer">
            <a id="btn-volver" onclick="location.href='@Url.Action("List", "Empresa")'" class="btn btn-default">Volver</a>
            <input type="submit" value="Guardar" class="btn btn-success" />       
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#fechaCreacion").datetimepicker({
               format: "DD/MM/YYYY",
             locale: 'es'
            });
         });
    </script>
}


