@model DONDE_INVIERTO.Model.Empresa

@{
    ViewBag.Title = "Nueva Empresa";
}

<h2>Nueva Empresa</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>  
            <div class="col-md-3">
                @Html.LabelFor(model => model.Fecha_Creacion, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class='input-group date' id='fechaDesde'>
                    @Html.TextBoxFor(model => model.Fecha_Creacion, new { @id = "fechaCreacion", @class = "form-control input-date" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>     
              
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a id="btn-volver" onclick="location.href='@Url.Action("List", "Empresa")'" class="btn btn-default">Volver</a>
            </div>
        </div>
    </div>
}



<script type="text/javascript">
            $(document).ready(function () {
                $("#fechaCreacion").datetimepicker({
                    format: "DD/MM/YYYY",
                    locale: 'es'
                });
            });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
