@model List<DONDE_INVIERTO.Model.Condicion>
@{
    ViewBag.Title = "Condicion";
}
<script>
    $(function () {
        $("#tabla").dataTable();
    });
</script>
<a class="btn btn-primary" href="@Url.Action("Create")" style="margin-top:10px"><i class="fa fa-plus"></i> Crear condición</a>
<h2>Condiciones</h2>
<table id="tabla" class="dataTable table table-bordered table-condensed">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Indicador</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.Id</td>*@
                <td>@item.Descripcion</td>
                <td>@item.Tipo</td>
                <td>@(item.Indicador != null ? item.Indicador.Nombre : "SIN INDICADOR") </td>  
                <td><a href="@Url.Action("Delete","Condiciones",new { id = item.Id})" onclick="return confirm('¿Está seguro que desea eliminar este registro?')"> <i class="fa fa-trash"></i> Eliminar</a></td>                
            </tr>
        }
    </tbody>
</table>

