@model DONDE_INVIERTO.Model.CuentaPeriodo

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear Cuenta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row" style="margin-top: 30px">
                <div class="col-md-2"  style="margin-left: 30px">
                    <label for="empresa">Empresa</label>
                    <div>
                        @Html.DropDownListFor(Model => Model.Periodo.EmpresaId, new SelectList(ViewBag.Empresas, "Id", "Nombre"), new { @id = "cboEmpresas", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2" align="right">
                    <a id="btn-add" onclick="" class="btn btn-success">Agregar Cuenta</a>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
