@model TpIntegradorDiuj.Models.Balance
@using TpIntegradorDiuj.Models
@{
    ViewBag.Title = "Editar balance";
    List<SelectListItem> listEmpresas = new List<SelectListItem>();
    List<SelectListItem> _listEmpresas = ViewBag.Empresas as List<SelectListItem>;
    listEmpresas.AddRange(_listEmpresas);

}

<script>
    function agregarCuenta() {
        var cantRows = $(".cuentasTable > tbody.cuerpo > tr").length;
        var tr = '<tr>';
        tr += '<td><input type="text" class="form-control nombre" name="Cuentas[' + cantRows + '].Nombre" required/></td>';
        tr += '<td><input type="text" class="form-control valor" name="Cuentas[' + cantRows + '].Valor" required/></td>';
        tr+= '<td> <a class="eliminar" href="#">X</a> </td>';
        tr += '</tr>';
        $(".cuentasTable > tbody.cuerpo").append(tr);
    };
    function cargarCuentas() {
        var idEmpresa = $("#selectEmpresas").val();
        var periodo = $("#selectPeriodos").val();
        if (idEmpresa != undefined) {
            var url = '@Url.Action("ObtenerBalancesDeEmpresaPorPeriodo","Balances",new { idEmpresa="__idEmpresa__",anio="__anio__"})';
            url = url.replace("__idEmpresa__", idEmpresa).replace("amp;", "").replace("__anio__", periodo);
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                contentType: false,
                success: function (data) {
                    if (data.Success) {
                        var texto = '<label> Cuentas</label><table class="table table-condensed"><thead><tr><th>Cuenta</th><th>Valor</th></tr></thead><tbody>';
                        $.each(data.Cuentas,function(index,item){
                             texto+= '<tr><td>'+item.Nombre+'</td><td>$'+item.Valor +'</td></tr> '
                        });
                        texto += ' </tbody> </table>';
                        $("#divCuentas").show();
                        $("#cuentasAAgregar").show();
                        $("#divCuentas").html(texto);

                    }
                    else {
                        bootbox.alert(data.Mensaje);
                        $("#selectPeriodos").html("");
                    }
                }

            });
        }
    }
    function cargarPeriodos() {
        var idEmpresa = $("#selectEmpresas").val();
        if (idEmpresa != undefined) {
            var url = '@Url.Action("obtener_periodos_empresa","Balances",new { idEmpresa="__idEmpresa__"})';
            url = url.replace("__idEmpresa__", idEmpresa);
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                contentType: false,
                success: function (data) {
                    if (data.Success) {
                        var texto = '<option value="" disabled selected>Seleccione un periodo...</option>';
                        $.each(data.Periodos, function (index, item) {
                            texto += '<option value="' + item + '">' + item + '</option>';
                        });
                        $("#selectPeriodos").html(texto);
                        $("#divCuentas").hide();
                        $("#cuentasAAgregar").hide();

                    }
                    else {
                        bootbox.alert(data.Mensaje);
                        $("#selectPeriodos").html("");
                    }
                }

            });
        }

    }
    $(function () {
        var cuentas = @Html.Raw(Json.Encode(Model.Cuentas));
        var texto = "";
        $.each(cuentas, function (index, item) {
            texto +="<tr>";
            texto+='<td><input type="text" class="form-control nombre" value="' + item.Nombre + '" name="Cuentas['+index +'].Nombre"</td>';
            texto+='<td><input type="text" class="form-control valor" value="' + item.Valor + '" name="Cuentas['+index +'].Valor"</td>';
            texto += '<td> <a class="eliminar" href="#">X</a> </td></tr>';
            $(".cuentasTable > tbody.cuerpo").append($(texto));
            texto="";
        });
        $('.cuentasTable > tbody.cuerpo').on('click', 'tr > td > a', function () {
            $(this).closest('tr').remove();
            $.each($(".cuentasTable > tbody.cuerpo > tr"), function (index, item) {
                $(item).find("td>input.valor").attr("name", function (i) { return "Cuentas[" + index + "].Valor"; })
                $(item).find("td>input.nombre").attr("name", function (i) { return "Cuentas[" + index + "].Nombre"; })
            });
        });
    });
</script>

@Html.ValidationSummary()
<div class="alert alert-danger divErrores" style="display: none;">
    <strong>Errores:<br></strong> <ul id="listaErrores"><li>Error en el formulario, revise que los valores sean numericos</li></ul>
</div>


<h2>Editar balance</h2>
<div class="row " style="margin-top: 90px;">
    <div class="col-md-5 col-md-offset-1">
        <form method="post" id="form" action="@Url.Action("Edit","Balances")">
          <label>Periodo</label>  <input type="number" class="form-control" value="@Model.Periodo" id="inputPer" min="1" oninput="validity.valid||(value='');" disabled/>
          <label>Empresa</label>  <input type="text" class="form-control" value="@Model.Empresa.Nombre" disabled/>

            @*<div class="form-group">
                <label>Empresa</label>
                @Html.DropDownList("Empresa_Id", listEmpresas, "Seleccione empresa..", new { @id = "selectEmpresas", @class = "form-control", @name = "Empresa_Id", @onchange = "cargarPeriodos()" })
            </div>
            <div class="form-group" id="selectPer">
                <label>Periodo</label>
                <select class="form-control" name="Periodo" id="selectPeriodos" onchange="cargarCuentas()">
                    <option value="" disabled selected>Seleccione un periodo...</option>
                </select>
            </div>*@
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Empresa_CUIT)
            @Html.HiddenFor(x => x.Periodo)


            <div id="cuentasAAgregar">
                <h4>Cuentas</h4>
                <table class="cuentasTable table-condensed table-bordered" style="width:500px;">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="cuerpo"></tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="#" onclick="agregarCuenta()" value="+" id="agregarCuenta"> +</a></td>
                    </tr>
                </table>
            </div>
            <br />
            <input class="btn btn-primary" type="button" value="Guardar" onclick="validar()"/>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-1" style="display:none" id="divCuentas">
        <h4>Cuentas</h4>
        <!--aca van las cuentas existentes una vez seleccionados: empresa y periodo.
            tambien se debe ir actualizando a medida que se agregan nuevas cuentas-->
    </div>
</div>

<script>
    function validar(){
        var resultado=true;
        $(".valor").each(function(){
            var check = /^[0-9]+$/.test($(this).val());
            if(!check)
                resultado=false;
        });
        if(resultado)
            $("#form").submit();
        else
            $(".divErrores").show();
    }
</script>