<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DONDE INVIERTO</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-dialog")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("~/bundles/switch")
    @Scripts.Render("~/bundles/loginjs")

    <div class="main-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Donde Invierto</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresas<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("List", "Empresa")">Listado</a></li>
                                <li><a href="@Url.Action("Create", "Empresa")">Crear</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuentas<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create", "Cuenta")">Cargar</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>



</head>
<body>
    <div id="body-content" class="body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
<style type="text/css">
    body {
        background-color: white;
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
</style>
