﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Hola, @User.Identity.GetUserName()!</a>
                
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-toggle-off"></i> Salir</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Empresas", "Index", "Empresas")</li>
            <li>@Html.ActionLink("Indicadores", "Index", "Indicadores")</li>
            <li>@Html.ActionLink("Balances", "Index", "Balances")</li>
            <li>@Html.ActionLink("Archivos", "UploadFile", "Upload")</li>
            <li>@Html.ActionLink("Metodologias", "Index", "Metodologias")</li>
            <li>@Html.ActionLink("Condiciones", "Index", "Condiciones")</li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
        
    </ul>
}
