﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Hola, @User.Identity.GetUserName()!</a>
                
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-toggle-off"></i> Salir</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Empresa", "Index", "Empresa")</li>
            <li>@Html.ActionLink("Indicador", "Index", "Indicador")</li>
            <li>@Html.ActionLink("Balance", "Index", "Balance")</li>
            <li>@Html.ActionLink("Cargar", "CargarArchivo", "Cargar")</li>
            <li>@Html.ActionLink("Metodologia", "Index", "Metodologia")</li>
            <li>@Html.ActionLink("Condicion", "Index", "Condicion")</li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
    </ul>
}
